body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  text-align: center;
  background-color: #764AF1;
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  3%;
  color: #F2F2F2;
}

.container {
  width: 50%;
  margin: 0 auto 5% auto;
}

.btn {
  display: inline-block;
  height: 13rem;
  width: 13rem;
  border: 10px solid #121212;
}

.play-btn{
  margin: 5% auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 450px;
  border: 10px solid #F2F2F2;
  color: #F2F2F2;
  background-color: #764AF1;
  font-family: 'Press Start 2P', cursive;
  border-radius: 10px;
  cursor: pointer;
}
.game-over {
  background-color: #F32424;
  opacity: 0.8;
}

.red {
  background-color: #FF4949;
  border-radius: 0 100% 0 0;
}

.green {
  background-color: #2FDD92;
  border-radius: 100% 0 0 0;
}

.blue {
  background-color: #4B7BE5;
  border-radius: 0 0 100% 0;

}

.yellow {
  background-color: #FFCD38;
  border-radius: 0 0 0 100%;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: white;
}

.play-pressed {
  box-shadow: 0 0 20px white;
  background-color: white;
  visibility: hidden;
}

